.fondo{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,140,199,1) 35%, rgba(0,212,255,1) 100%);}
.img-fluid img{
    text-align: center;
    display: flex;
    margin: 10px right;
}
.baner{
    background-image: url("./img/1920.jpg");
    padding: 25%;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;

}
.baner::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: -1;
}